header {
  background-color: #ff8000;
}

header img {
  height: 80px;
  padding: 16px 8px;
}

.main-container {
  display: flex;
}

.content {
  width: calc(100% - 300px);
  box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.2) inset;
}

.restaurant-info {
  margin: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav {
  box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.2) inset;
  height: 64px;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav img {
  height: 40px;
}

.rating {
  color: #ff8000;
}

.basket-container {
  width: 300px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2) inset;
}

.your-basket {
  margin-top: 24px;
  position: sticky;
  top: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#yourBasket {
  width: 100%;
}

.top-picture {
  height: 160px;
  background-image: url("./assets/img/italy-2273767_1280.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#restaurant-icon {
  height: 120px;
  transform: translateY(95px);
}

.middle-picture {
  height: 160px;
  background-image: url("./assets/img/meat.jpg");
  background-size: cover;
  background-position: bottom;
  margin: 8px 8px;
}

h2 {
  margin: 16px 8px;
}

h3 {
  margin: 0;
}

.dish-container {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 140px;
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.dish-container:hover {
  background-color: rgba(255, 128, 0, 0.4);
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dish-price {
  color: #ff8000;
  font-weight: bold;
}

.side-dish-img {
  height: 160px;
  background-image: url(./assets/img/pommes.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 8px;
}

.dessert-img {
  height: 160px;
  background-image: url(./assets/img/dessert-1786311_1280.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 8px;
}

.switch-btn {
  border-radius: 24px;
  background-color: #eeece9;
  cursor: pointer;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 48px;
}

.delivery-btn,
.takeaway-btn {
  width: 99%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
}

.delivery-btn img,
.takeaway-btn img {
  height: 20px;
}

.delivery-info {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.basket-meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 24px 0;
  width: 100%;
}

.basket-meal h3 {
  font-size: 16px;
  align-self: flex-start;
}

.meal-amount {
  font-size: 14px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.meal-amount img {
  cursor: pointer;
  height: 24px;
  color: #ff8000;
}

#delete-btn {
  height: 30px;
}

#delete-btn:hover {
  border: solid 1px #ff8000;
  border-radius: 50%;
}

.total-price {
  width: 100%;
}

.total-price table {
  width: 100%;
}

.order-btn {
  cursor: pointer;
  margin-top: 16px;
  background-color: #ff8000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.order-btn:active {
  transform: scale(0.98);
}

.basket-btn {
  display: none;
  background-color: white;
  height: 80px;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 8px;
}

#openOverlay {
  background-color: #ff8000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.order-received {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  height: 160px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#closeModal {
  cursor: pointer;
  background-color: #ff8000;
  padding: 8px 12px;
  border-radius: 2px;
}

footer {
  background-color: #ff8000;
  display: flex;
  justify-content: center;
}

footer img {
  height: 80px;
  padding: 16px 8px;
}
